# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
 1. Matplotlib
 2. NumPy
 3. TensorFlow
 4. PyTorch

|Data Science Tools|
 ------------------
  |Rstudio|
|TensorFlow|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5
#this a simple arithmetic expression to mutiply then add integers

17

In [4]:
(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives**
- List of data science open source tools
- List of data science languages
- list of data science libraries

## Author
Sandhya Sharma